<div class="sidebar">

  <div class="sidebar-section">
        <h5><span>Читайте также</span></h5>
        <ul style="list-none;">
        <li><a href="http://bit.ly/www-adbtc" target="_blank">adBTC</a></li>
        <li><a href="http://bit.ly/www-adbtc" target="_blank"><img src="http://www.all-faucets.com/assets/images/adbtc.top-ad.png" alt="adbtc.top"/></a></li>
        <li><a href="http://bit.ly/www-btcfox" target="_blank">BtcFox</a></li>
        <li><a href="http://bit.ly/www-btcfox" target="_blank"><img src="http://www.all-faucets.com/assets/images/btcfox.info-site.png" alt="Btc Fox"/></a></li>
      </ul>
    </div>

</div>
